<div fxFlex fxLayout="column" fxLayoutGap="20px">

  <div fxFlex fxLayout="column" fxLayoutGap="20px">

    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Etapas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" align="center">
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('all')">
                <p>Todos</p>
                <p>{{all}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Atendimento')">
                <p>Atendimento</p>
                <p>{{atendimento}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Desenvolvimento')">
                <p>Desenvolvimento</p>
                <p>{{desenvolvimento}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Aprovação')">
                <p>Aprovação</p>
                <p>{{aprovacao}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Editoração')">
                <p>Editoração</p>
                <p>{{editoracao}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Conferência')">
                <p>Conferência</p>
                <p>{{conferencia}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Gravação')">
                <p>Gravação</p>
                <p>{{gravacao}}</p>
              </button>
            </div>
            <div class="full-width" fxLayout="column" fxFlex="12.5">
              <button mat-button class="button_blue" (click)="onFlow('Expedição')">
                <p>Expedição</p>
                <p>{{expedicao}}</p>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Fluxo de serviço</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" align="center">
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Atendimento
              <button mat-button (click)="flow('Atendimento')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Desenvolvimento
              <button mat-button (click)="flow('Desenvolvimento')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Aprovação
              <button mat-button (click)="flow('Aprovação')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Editoração
              <button mat-button (click)="flow('Editoração')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Conferência
              <button mat-button (click)="flow('Conferência')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Gravação
              <button mat-button (click)="flow('Gravação')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="full-width" fxLayout="column">Expedição
              <button mat-button (click)="flow('Expedição')">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div style="flex-grow: 1;"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex fxLayout="column" fxLayoutGap="10px">

      <div>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Ordens de Serviço</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayoutGap="10px">
              <button mat-button class="button_blue" matTooltip="Adicionar ordem de serviço" (click)="onAdd()">
                <mat-icon>add</mat-icon> Adicionar
              </button>
            </div>
            <p></p>
            <div>

              <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput (keyup)="applyFilter($event.target.value)">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef style="width:40px">
                      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> OS </th>
                    <td mat-cell *matCellDef="let row"> {{row.os}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Cliente">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Nome do trabalho">
                    <th mat-header-cell *matHeaderCellDef> Nome do trabalho </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Ações">
                    <th mat-header-cell *matHeaderCellDef style="width:100px"> </th>
                    <td mat-cell *matCellDef="let row">
                      <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column">
                        <button mat-button matTooltip="Visualizar" (click)="openDialog(row._id)">
                          <mat-icon>visibility</mat-icon>
                        </button>

                        <button mat-button matTooltip="Editar" (click)="onEdit(row._id)">
                          <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-button matTooltip="Excluir" (click)="onDelete(row._id)">
                          <mat-icon>delete</mat-icon>
                        </button>

                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[30, 50, 100]"></mat-paginator>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>