<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div>
    <mat-toolbar fxLayoutGap="20px">
      <p class="title">Dashboard</p>
      <div style="flex-grow: 1;"></div>

      <div *ngIf="user">
        Olá {{user.fullname}}
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/config/user">
            <mat-icon>account_circle</mat-icon> Minha Conta
          </button>
          <button mat-menu-item routerLink="/config">
            <mat-icon>settings</mat-icon> Configurações
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>
      </div>
      
    </mat-toolbar>
  </div>
  <div>
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div>
        <button mat-button class="mat-button-blue-light" routerLink="/production/jobs">
          <i class="material-icons dashboard">
            color_lens
          </i>
          <div>
            Produção
          </div>
        </button>
      </div>
      <div>
        <button mat-button class="mat-button-blue" routerLink="/crm">
          <i class="material-icons dashboard">
            contacts
          </i>
          <div>
            CRM
          </div>
        </button>
      </div>
      <div>
        <button mat-button class="mat-button-green" routerLink="/stock">
          <i class="material-icons dashboard">
            shopping_cart
          </i>
          <div>
            Estoque
          </div>
        </button>
      </div>
      <div>
        <button mat-button class="mat-button-yellow" routerLink="/cloudflow/approval">
          <i class="material-icons dashboard">
            cloud
          </i>
          <div>
            CloudFlow
          </div>
        </button>
      </div>
      <div>
        <button mat-button class="mat-button-red" routerLink="/config">
          <i class="material-icons dashboard">
            settings
          </i>
          <div>
            Configurações
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- Grafíco -->
  <mat-card class="graphic">
    <div fxLayoutAlign="center" style="width: 100%;">
      <mat-spinner *ngIf="!(data && view)"></mat-spinner>
    </div>
    <p-chart *ngIf="data && view" type="line" [data]="data" [options]="options" width="50vw" height="40vh"></p-chart>
  </mat-card>
</div>