<h1 mat-dialog-title>Enviar PDF</h1>
<div mat-dialog-content>

  <div style="width: 100%;" align="center">
    <button mat-button class="button_blue" (click)="fileInput.click()">

      <mat-icon>cloud_upload</mat-icon> Upload PDF
      <input hidden type="file" accept="application/pdf" (change)="inputFileChange($event)" #fileInput>

    </button>
    <p>OBS: O PDF deve estar em CMYK ou haverá erro.</p>
  </div>

  <p></p>
  <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress | async"></mat-progress-bar>
  <p>
    {{percentDone}}
  </p>

  <div *ngIf="invalid">
    Arquivo inválido;
  </div>
</div>
<div mat-dialog-actions align="center">
  <button *ngIf="ok" mat-button (click)="onNoClick()">OK</button>
</div>