<h1 mat-dialog-title>Ordem de serviço</h1>
<div mat-dialog-content fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" >
  <div>
    <p> <strong>Nome do serviço:</strong>  </p>
    <p> <strong>Cliente:</strong>  </p>
    <p> <strong>Ordem de serviço:</strong>  </p>
    <p> <strong>Data de Despacho:</strong>  </p>
    <p> <strong>Status:</strong>  </p>
  </div>
  <div>
    <p> <strong>Pedido: </strong> 1</p>
    <p> <strong>Código Barras:</strong> </p>
    <p> <strong>Versão: </strong>1</p>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">Fechar</button>
</div>