<div fxFlex fxLayout="column" fxLayoutGap="20px">

  <div fxFlex fxLayout="column" fxLayoutGap="10px">

    <div>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Dados Ordem de Serviço: {{os.os}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <form [formGroup]="form">

            <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">

              <div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <div>
                    <mat-form-field *ngIf="clientes">
                      <mat-select placeholder="Clientes" formControlName="clientes">
                        <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                          {{cliente}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field *ngIf="pedidos">
                      <mat-select placeholder="Pedido" formControlName="pedidos">
                        <mat-option *ngFor="let value of pedidos" [value]="value">
                          {{value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nome do Serviço" formControlName="nome">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="column">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Código do produto" formControlName="codigo" autocomplete="off">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="full-width">
                  <input matInput type="date" placeholder="Data de despacho" formControlName="data" autocomplete="off">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Código de Barras" formControlName="barra" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <div align="right">
              <div fxLayoutGap="5px">
                <button mat-stroked-button matTooltip="Email" *ngIf="details_view">
                  <mat-icon>email</mat-icon>
                </button>
                <button mat-stroked-button (click)="downloadPDF()" matTooltip="Gerar PDF" *ngIf="details_view">
                  <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-stroked-button (click)="print()" matTooltip="Imprimir" *ngIf="details_view">
                  <mat-icon>print</mat-icon>
                </button>
                <button mat-button type="button" class="button_green" (click)="onVersion()" matTooltip="Nova Versão"
                  *ngIf="details_view">
                  <mat-icon>toll</mat-icon>
                </button>
                <button mat-button type="button" class="button_blue" (click)="onSubmit()" matTooltip="Salvar">
                  <mat-icon>save</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayoutAlign="center" style="width: 100%;" *ngIf="details_spinner">
      <mat-spinner ></mat-spinner>
    </div>

    <form [formGroup]="details" fxLayout="column" fxLayoutGap="10px" *ngIf="details_view">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Clichê</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field *ngIf="tecnologia">
              <mat-select placeholder="Tecnologia" formControlName="tecnologia">
                <mat-option *ngFor="let value of tecnologia" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="variacao">
              <mat-select placeholder="Variação" formControlName="variacao">
                <mat-option *ngFor="let value of variacao" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="material">
              <mat-select placeholder="Material" formControlName="material">
                <mat-option *ngFor="let value of material" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="substrato">
              <mat-select placeholder="Substrato" formControlName="substrato">
                <mat-option *ngFor="let value of substrato" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field *ngIf="espessura">
              <mat-select placeholder="Espessura" formControlName="espessura">
                <mat-option *ngFor="let value of espessura" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="camada">
              <mat-select placeholder="Camada" formControlName="camada">
                <mat-option *ngFor="let value of camada" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="local">
              <mat-select placeholder="Local da Gravação" formControlName="local">
                <mat-option *ngFor="let value of local" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="face">
              <mat-select placeholder="Dupla Face" formControlName="face">
                <mat-option *ngFor="let value of face" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Observações do Clichê" formControlName="observacoes_cliche"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Cores</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">

            <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <button mat-flat-button class="button_blue_light" matTooltip="Adiciona a cor do formulario" (click)="onAdd()">
                <mat-icon>add</mat-icon> Adicionar Cor
              </button>

              <button mat-flat-button class="button_green_light" matTooltip="Adiciona a cor do formulario" (click)="onAddCMYK()">
                <mat-icon>add</mat-icon> Adicionar CMYK + Branco
              </button>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
                <button mat-flat-button class="button_blue_light" (click)="upload()">
                  <mat-icon>attachment</mat-icon> Adicionar cores de um arquivo
                </button>

                <mat-spinner *ngIf="spinner" [diameter]="25"></mat-spinner>

              </div>
            </div>

            <div>
              <table>
                <thead>
                  <tr>
                    <th>Cor</th>
                    <th>Lineatura 1</th>
                    <th>Lineatura 2</th>
                    <th>Angulo</th>
                    <th>Jogos</th>
                    <th>Configuração</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let color of os.colors">
                    <td>
                      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
                        <div style="width: 24px;
                        height: 24px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: black">
                          <div [style.background-color]="'#' + color.hex" style="width: 20px;
                          height: 20px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: white;"></div>
                        </div>
                        <div>
                          {{color.color}}
                        </div>
                      </div>
                    </td>
                    <td>{{color.lineatura1}}</td>
                    <td>{{color.lineatura2}}</td>
                    <td>{{color.angulo}}</td>
                    <td>{{color.jogos}}</td>
                    <td>
                      <div>
                        <mat-checkbox disabled="true" [checked]="color.fotocelula" *ngIf="color.fotocelula">Fotocélula</mat-checkbox>
                      </div>
                      <div>
                        <mat-checkbox disabled="true" [checked]="color.unitario" *ngIf="color.unitario">Unitario</mat-checkbox>
                      </div>
                      <div>
                        <mat-checkbox disabled="true" [checked]="color.camerom" *ngIf="color.camerom">Camerom</mat-checkbox>
                      </div>
                    </td>
                    <td>
                      <button mat-button matTooltip="Editar" (click)="editColor(color)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-button matTooltip="Excluir" (click)="onDeleteColor(color._id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div>

              <div>
                <mat-form-field *ngIf="perfil">
                  <mat-select placeholder="Perfil de cor" formControlName="perfil">
                    <mat-option *ngFor="let value of perfil" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Observações das cores" formControlName="observacoes_cores"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Montagem</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutGap="10px">

          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-card fxFlex="60">
              <div fxLayout="column">
                <mat-checkbox formControlName="fechado" (click)="fechado()">Já está no fechamento</mat-checkbox>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" *ngIf="!disabled">

                  <mat-form-field fxFlex="33.3">
                    <input matInput placeholder="Z" formControlName="z">
                  </mat-form-field>
                  <mat-form-field fxFlex="33.3">
                    <input matInput placeholder="Desenvolvimento" formControlName="desenvolvimento">
                  </mat-form-field>
                  <mat-form-field fxFlex="33.3">
                    <input matInput placeholder="Fechamento" formControlName="fechamento">
                  </mat-form-field>

                </div>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" *ngIf="!disabled">
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Quantidade de Pistas" formControlName="qtpistas">
                  </mat-form-field>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Entre Pistas" formControlName="entre_pistas">
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" *ngIf="!disabled">
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Quantidade Passo" formControlName="qtpasso">
                  </mat-form-field>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Entre Passo" formControlName="entre_passos">
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Manta" formControlName="manta">
                  </mat-form-field>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Num. Faca" formControlName="faca">
                  </mat-form-field>
                </div>

              </div>
            </mat-card>

            <mat-card fxFlex="40">
              <div>
                <a>Sangras</a>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <div fxLayout="column" fxLayoutGap="45px">
                    <br>
                    <mat-checkbox formControlName="esquerda">Esquerda</mat-checkbox>
                    <mat-checkbox formControlName="direita">Direita</mat-checkbox>
                    <mat-checkbox formControlName="topo">Topo</mat-checkbox>
                    <mat-checkbox formControlName="base">Base</mat-checkbox>
                  </div>
                  <div fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="mm" formControlName="esquerda_mm">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="mm" formControlName="direita_mm">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="mm" formControlName="topo_mm">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="mm" formControlName="base_mm">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxLayoutGap="45px">
                    <br>
                    <mat-checkbox formControlName="refile">Marcas Refile</mat-checkbox>
                    <mat-checkbox formControlName="corte">Marcas Corte</mat-checkbox>
                    <mat-checkbox formControlName="cameron">Cameron</mat-checkbox>
                    <mat-checkbox formControlName="microponto">Microponto</mat-checkbox>
                  </div>
                </div>
              </div>
            </mat-card>

          </div>

          <mat-card>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <mat-form-field>
                <input matInput placeholder="Tamanho Arte Largura" formControlName="largura">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Tamanho Arte Altura" formControlName="altura">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Largura Material" formControlName="largura_material">
              </mat-form-field>

            </div>

            <mat-form-field class="full-width">
              <textarea matInput placeholder="Observações das cores" formControlName="obs_montagem"></textarea>
            </mat-form-field>
          </mat-card>

        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Prova</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutGap="10px">

          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field *ngIf="substrato_prova">
              <mat-select placeholder="Substrato" formControlName="substrato_prova">
                <mat-option *ngFor="let value of substrato_prova" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Velocidade" formControlName="velocidade">
            </mat-form-field>

            <mat-form-field *ngIf="dupla">
              <mat-select placeholder="Dupla face" formControlName="dupla">
                <mat-option *ngFor="let value of dupla" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Temperatura" formControlName="temperatura">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Horário da impressão" formControlName="horario">
            </mat-form-field>

          </div>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Cor</th>
                  <th>Anilox</th>
                  <th>Ganho de ponto</th>
                  <th>Densidade</th>
                  <th>BCM</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let color of os.colors">
                  <td>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
                      <div style="width: 24px;
                        height: 24px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: black">
                        <div [style.background-color]="'#' + color.hex" style="width: 20px;
                          height: 20px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: white;"></div>
                      </div>
                      <div>
                        {{color.color}}
                      </div>
                    </div>
                  </td>
                  <td>
                    {{color.anilox}}
                  </td>
                  <td>
                    {{color.ganho}}
                  </td>
                  <td>
                    {{color.densidade}}
                  </td>
                  <td>
                    {{color.bcm}}
                  </td>
                  <td>
                    <button mat-button matTooltip="Editar" (click)="editProva(color)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observações da prova" formControlName="obs_prova"></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>


      <mat-card>
        <mat-card-header>
          <mat-card-title>Financeiro</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutGap="10px">

          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput placeholder="Cliente terceiro" formControlName="terceiro">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Tipo de cobranca" formControlName="velocidade">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Ordem de compra" formControlName="dupla">
            </mat-form-field>
            <mat-checkbox formControlName="cobrar" color="primary" (change)="calcular($event.checked)">Cobrar Clichês</mat-checkbox>

          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="left center">
            <button mat-flat-button class="button_blue_light" (click)="upload()">
              <mat-icon>attachment</mat-icon> Medir arquivo
            </button>

            <mat-spinner *ngIf="spinner" [diameter]="25"></mat-spinner>

          </div>
          <div>
            <table style="font-family: arial, sans-serif; width: 100%;">
              <thead>
                <tr style="text-align: left;">
                  <th>Cor</th>
                  <th>Altura</th>
                  <th>Largura</th>
                  <th>Editar</th>
                  <th fxLayoutAlign="end" style="text-align: end">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let color of os.colors" style="border-top: 1px solid #dddddd;">
                  <td>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
                      <div style="width: 24px;
                        height: 24px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: black">
                        <div [style.background-color]="'#' + color.hex" style="width: 20px;
                          height: 20px; border-radius: 50%; border-style: solid; border-width: 2px; border-color: white;"></div>
                      </div>
                      <div>
                        {{color.color}}
                      </div>
                    </div>
                  </td>
                  <td>
                    {{color.altura}} mm
                  </td>
                  <td>
                    {{color.largura}} mm
                  </td>
                  <th>
                    <button mat-button matTooltip="Editar" (click)="editFinanceiro(color)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </th>
                  <td fxLayoutAlign="end" style="text-align: end">
                    R$ {{color.valor}}
                  </td>
                </tr>
              </tbody>
            </table>
            <td fxLayoutAlign="end" style="text-align: end">
              Total: R$ {{os.valor}}
            </td>
          </div>

          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observações do orçamento" formControlName="obs_financeiro"></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

    </form>
  </div>
</div>