.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.drop-zone {
    border: dotted 3px lightgray;
    height: 300px;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

html, body {
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
    font-family: "Open Sans";
}

td {
    border-top: 1px solid #dddddd;
}

thead {
    background-color: rgb(242, 242, 242);
}

.mat-card {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

h3{
    font-family: 'Open Sans';
    text-align: center
}

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}