<div fxFlex fxLayout="column" fxLayoutGap="20px">

  <div fxFlex fxLayout="column" fxLayoutGap="20px">
    <div *ngIf="details">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Fluxo de serviço</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px" align="center">
            <div class="full-width" fxLayout="column">Atendimento
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Desenvolvimento
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Aprovação
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Editoração
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Conferência
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Gravação
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
            <div class="full-width" fxLayout="column">Expedição
              <button mat-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div>

      <mat-tab-group>

        <mat-tab label="Ordem de serviço">
          <div style="margin: 16px">

            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>Dados Ordem de Serviço: {{os.os}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>

                <form [formGroup]="form">

                  <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">

                    <div>
                      <div fxLayout="row" fxLayoutGap="10px">
                        <div>
                          <mat-form-field class="full-width">
                            <input matInput placeholder="Cliente" formControlName="cliente">
                          </mat-form-field>
                        </div>

                        <div>
                          <mat-form-field class="full-width">
                            <input matInput placeholder="Pedido" formControlName="pedido" autocomplete="off">
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <mat-form-field class="full-width">
                          <input matInput placeholder="Nome do Serviço" formControlName="nome">
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxLayout="column">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Versão" formControlName="versao" autocomplete="off">
                      </mat-form-field>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Código do produto" formControlName="codigo" autocomplete="off">
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Data de despacho" formControlName="data" autocomplete="off">
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Código de Barras" formControlName="barra" autocomplete="off">
                      </mat-form-field>
                    </div>
                  </div>
                  <div align="right">
                    <div fxLayoutGap="5px">
                      <button mat-button type="button" class="button_grey" matTooltip="Email">
                        <mat-icon>email</mat-icon>
                      </button>
                      <button mat-button type="button" class="button_grey" matTooltip="Gerar PDF">
                        <mat-icon>picture_as_pdf</mat-icon>
                      </button>
                      <button mat-button type="button" class="button_grey" matTooltip="Imprimir">
                        <mat-icon>print</mat-icon>
                      </button>
                      <button mat-button type="reset" (click)="onDelete()" class="button_red" matTooltip="Deletar">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-button type="button" class="button_orange" matTooltip="Nova Versão">
                        <mat-icon>toll</mat-icon>
                      </button>
                      <button mat-button type="button" class="button_blue" (click)="onSubmit()" matTooltip="Salvar">
                        <mat-icon>save</mat-icon>
                      </button>
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab label="Arquivo">

        </mat-tab>
      </mat-tab-group>

    </div>

    <div *ngIf="details">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Detalhes</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <app-details></app-details>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>