<script type="text/javascript" src="./jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./jquery-ui-1.9.2.custom.js"></script>
<script type="text/javascript" src="./jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="./jquery.cookie.js"></script>
<script type="text/javascript" src="./api.js"></script>

<mat-toolbar>
    <button routerLink="">Home</button>
    <button routerLink="/login">Login</button>
    <button routerLink="/user">User</button>
    <button routerLink="/report">Report</button>
</mat-toolbar>

<router-outlet></router-outlet>

