<style>
  a,
  h1,
  th,
  td {
    font-family: "Open Sans";
  }

  .full-width {
  width: 100%;
}
</style>
<h1 mat-dialog-title>Editar Cor</h1>
<div mat-dialog-content>


  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <input matInput placeholder="Altura" type='text' mask="0000" formControlName="altura">
        <a matSuffix>mm</a>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Largura" type='text' mask="0000" formControlName="largura">
        <a matSuffix>mm</a>
      </mat-form-field>
    </div>
  </form>


</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onAdd()">Salvar</button>
  <button mat-button (click)="onNoClick()">Fechar</button>
</div>