<div fxLayout="column" fxLayoutGap="10px">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Dados Básicos</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="basicos">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
          <div>
            <mat-form-field>
              <mat-select placeholder="Solicitante / Vendas" formControlName="solicitante">
                <mat-option *ngFor="let user of users" [value]="user">
                  {{user}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox formControlName="novo" color="primary">Novo cadastro</mat-checkbox>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
            <p>Tipo de cliente:</p>
            <mat-checkbox formControlName="fisica" color="primary">Pessoa física</mat-checkbox>
            <mat-checkbox formControlName="juridica" color="primary">Pessoa Juridica</mat-checkbox>
          </div>

          <div>
            <mat-form-field>
              <input matInput placeholder="Cliente principal" formControlName="principal">
            </mat-form-field>
          </div>

          <div style="flex-grow: 1;"></div>

          <div>
            <button mat-button type="button" class="button_blue" (click)="onSubmit()" matTooltip="Salvar">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Dados Cadastrais</mat-card-title>
      <mat-card-subtitle>Faturamento / Cobrança</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="cadastrais">

        <mat-form-field>
          <input matInput placeholder="Razão Social" formControlName="razao">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nome Fantasia" formControlName="fantasia">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="75">
            <mat-form-field>
              <input matInput placeholder="Endereço" formControlName="endereco">
            </mat-form-field>
          </div>
          <div fxFlex="25">
            <mat-form-field>
              <input matInput placeholder="Número" formControlName="n">
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row" fxLayoutGap="10px">

          <div fxFlex="50">
            <mat-form-field>
              <input matInput placeholder="Bairro" formControlName="bairro">
            </mat-form-field>
          </div>

          <div fxFlex="25">
            <mat-form-field *ngIf="cidades">
              <mat-select placeholder="Cidade" formControlName="cidade">
                <mat-option *ngFor="let cidade of cidades" [value]="cidade.name">
                  {{cidade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25">
            <mat-form-field *ngIf="uf">
              <mat-select placeholder="UF" formControlName="uf" (selectionChange)="onCidades($event)">
                <mat-option *ngFor="let uf of uf" [value]="uf.name">
                  {{uf.name}} - {{uf.abbreviation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="CEP" type='text' prefix="" mask="00000 000" formControlName="cep">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Tel." type='text' prefix="+55 " mask="(00) 0 0000 0000" formControlName="tel">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Fax" type='text' prefix="+55 " mask="(00) 0 0000 0000" formControlName="fax">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="CNPJ / CPF" formControlName="cnpj_cpf">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="I.E. / RG" formControlName="ie_rg">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="Contato Comercial" formControlName="comercial">
            </mat-form-field>
          </div>

          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="Tel." type='text' prefix="+55 " mask="(00) 0 0000 0000" formControlName="tel_comercial">
            </mat-form-field>
          </div>

          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="e-mail" formControlName="email_comercial">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="Contato Financeiro" formControlName="financeiro">
            </mat-form-field>
          </div>

          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="Tel." type='text' prefix="+55 " mask="(00) 0 0000 0000" formControlName="tel_financeiro">
            </mat-form-field>
          </div>

          <div fxFlex="31">
            <mat-form-field>
              <input matInput placeholder="e-mail" formControlName="email_financeiro">
            </mat-form-field>
          </div>

          <div fxFlex="5">
            <button mat-stroked-button color="primary" (click)="copy()">
              Copiar
            </button>
          </div>
        </div>

        <mat-form-field>
          <input matInput placeholder="End. de Cobrança" formControlName="endereco_cobranca">
        </mat-form-field>

      </form>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Condições comerciais</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-card>
            <mat-card-header>
              <mat-card-title style="font-size: 100%;">Condição de Pagamento</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <form [formGroup]="pagamento">

                <div fxLayout="row" fxLayoutGap="10px">
                  <mat-checkbox formControlName="nf" color="primary">NF</mat-checkbox>
                  <mat-checkbox formControlName="nota" color="primary">Nota Fiscal</mat-checkbox>
                  <mat-checkbox formControlName="boleto" color="primary">Boleto</mat-checkbox>
                </div>
                <mat-form-field>
                  <input matInput placeholder="Boleto" formControlName="boleto">
                </mat-form-field>

                <mat-form-field *ngIf="prazo">
                  <mat-select placeholder="Prazo" formControlName="prazo">
                    <mat-option *ngFor="let value of prazo" [value]="value">
                      {{value}} dias
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="faturamento">
                  <mat-select placeholder="Faturamento" formControlName="faturamento">
                    <mat-option *ngFor="let value of faturamento" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <br>

                <mat-form-field>
                  <textarea matInput placeholder="Observação" formControlName="obs" style="height: 130px;"></textarea>
                </mat-form-field>
              </form>


            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title style="font-size: 100%;">Preço por cm²</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <form [formGroup]="preco">
                <mat-form-field>
                  <input matInput placeholder="Top Flat 1,14" type='text' prefix="R$ " mask="0,000" formControlName="top_flat_114">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Top Flat 1,70" type='text' prefix="R$ " mask="0,000" formControlName="top_flat_170">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Digital 2,84" type='text' prefix="R$ " mask="0,000" formControlName="digital_284">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Kodak NX 1,14" type='text' prefix="R$ " mask="0,000" formControlName="kodak_114">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Kodak NX 1,7" type='text' prefix="R$ " mask="0,000" formControlName="kodak_170">
                </mat-form-field>

                <div tyle="width: 100%" align="center">
                  <a>Margens: </a>
                  <div style="width: 100%" align="center">
                    <mat-form-field style="width: 50px">
                      <input matInput type='text' mask="00" formControlName="margem_u">
                      <a matSuffix>cm</a>
                    </mat-form-field>
                  </div>
                  <div style="width: 100%" align="center" fxLayoutGap="70px">
                    <mat-form-field style="width: 50px">
                      <input matInput type='text' mask="00" formControlName="margem_l">
                      <a matSuffix>cm</a>
                    </mat-form-field>
                    <mat-form-field style="width: 50px">
                      <input matInput type='text' mask="00" formControlName="margem_r">
                      <a matSuffix>cm</a>
                    </mat-form-field>
                  </div>
                  <div style="width: 100%" align="center">
                    <mat-form-field style="width: 50px">
                      <input matInput type='text' mask="00" formControlName="margem_d">
                      <a matSuffix>cm</a>
                    </mat-form-field>
                  </div>
                </div>
              </form>

            </mat-card-content>
          </mat-card>
        </div>

        <mat-card>
          <mat-card-header>
            <mat-card-title style="font-size: 100%;">Outros</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <form [formGroup]="outros">
              <mat-form-field>
                <input matInput placeholder="E-mail para NF’e" formControlName="email_nf">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="E-mail para envio de materiais" formControlName="email_materiais">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="E-mail de Pedido / Valores" formControlName="email_pedido">
              </mat-form-field>

            </form>

          </mat-card-content>
        </mat-card>
      </div>

    </mat-card-content>
  </mat-card>
</div>