<mat-card>
  <div fxLayoutAlign="center" style="width: 100%;">
    <mat-spinner *ngIf="!users"></mat-spinner>
  </div>
  <table *ngIf="users" style="font-family: arial, sans-serif; width: 100%;">
    <thead>
      <tr style="text-align: left;">
        <th>Nome de usuário</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Administrador</th>
        <th>Tipo</th>
        <th>Senha</th>
        <th fxLayoutAlign="end">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" style="border-top: 1px solid #dddddd;">
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.fullname}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          <mat-checkbox disabled="true" [checked]="user.permissions[1] == 'ADMIN_USER' || user.permissions[1] == 'ADMIN' "></mat-checkbox>
        </td>
        <td>

        </td>
        <td>
          <button mat-button matTooltip="Editar" (click)="onPass(user)">
            <mat-icon>vpn_key</mat-icon>
          </button>
        </td>
        <th fxLayoutAlign="end">
          <button mat-button matTooltip="Editar" (click)="onEdit(user)">
            <mat-icon>edit</mat-icon>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</mat-card>