<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
  <div fxFlex fxLayoutAlign="center center">
    <mat-card align="center">
      <img [src]="'assets/logo.svg'" alt="image" height="250">

      <form align="end">

        <mat-form-field class="full-width">
          <input matInput placeholder="Usuário">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Senha" type="password">
        </mat-form-field>

        <div fxLayoutGap="10px">
          <button mat-button type="reset">Limpar</button>
          <button mat-button type="button" (click)="onSubmit()">Entrar</button>
        </div>

      </form>

    </mat-card>
  </div>
</div>