<mat-card>
  <mat-card-content>
  
    <div fxLayoutAlign="center" style="width: 100%;">
      <mat-spinner class="load"></mat-spinner>
    </div>
  
    <div>
      <iframe [src]="iframe"></iframe>
    </div>
  
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button (click)="copy()" matTooltip="Copiar Link">
      <mat-icon>assignment</mat-icon>
    </button>
    <div style="flex-grow: 1;"></div>
    <button mat-stroked-button mat-dialog-close>Fechar</button>
  </mat-card-actions>
</mat-card>