<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="'side'" opened>
    <!--opened-->
    <div align="center">
      <p></p>
      <img mat-card-avatar *ngIf="data" [src]="data" alt="image">
      <div *ngIf="user" style="color: rgba(255, 255, 255, .60); font-family: Open sans">
        <div>
          Olá {{user.fullname}}
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/config/user">
              <mat-icon>account_circle</mat-icon> Minha Conta
            </button>
            <button mat-menu-item routerLink="/config">
              <mat-icon>settings</mat-icon> Configurações
            </button>
            <button mat-menu-item (click)="logout();">
              <mat-icon>exit_to_app</mat-icon> Logout
            </button>
          </mat-menu>
        </div>
      </div>
      <p></p>
      <div fxLayout="column" fxLayoutGap="5px">

        <a mat-button href="#" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>

        <a mat-button routerLink="/stock/graphic" [style.background-color]="graphic">
          <mat-icon>assessment</mat-icon>
          Graficos
        </a>

        <a mat-button routerLink="/stock/in" [style.background-color]="in">
          <mat-icon>call_received</mat-icon>
          Entrada
        </a>

        <a mat-button routerLink="/stock/out" [style.background-color]="out">
          <mat-icon>call_made</mat-icon>
          Saída
        </a>

        <a mat-button routerLink="/stock/technology" [style.background-color]="technology">
          <mat-icon>gradient</mat-icon>
          Tecnologias
        </a>

      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar></mat-toolbar>
    <div class="contend">
      <router-outlet></router-outlet>
    </div>
    <mat-toolbar class="fixed">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p>{{title}}</p>
    </mat-toolbar>
  </div>

</mat-drawer-container>