table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
    font-family: "Open Sans";
}

td {
    border-top: 1px solid #dddddd;
} 