<h1 mat-dialog-title>Enviar PDF</h1>
<div mat-dialog-content>

  <div style="width: 100%;" align="center">
    <button mat-button class="button_blue" (click)="fileInput.click()">

      <mat-icon>cloud_upload</mat-icon> Upload PDF
      <input hidden type="file" accept="application/pdf" ng2FileSelect [uploader]="uploader" (change)="uploadAll($event)" #fileInput />

    </button>
    <p>OBS: O PDF deve estar em CMYK ou haverá erro.</p>
  </div>

  <p></p>
  <mat-progress-bar *ngIf="uploader.progress" mode="determinate" [value]="uploader.progress"></mat-progress-bar>
  <p>
    {{uploader.progress}}%
  </p>

  <div *ngIf="invalid">
    Arquivo inválido;
  </div>
  <div *ngIf="size">
    Arquivo maior que 300mb;
  </div>
</div>
<div mat-dialog-actions align="center">
  <button *ngIf="uploader.progress == 100 || invalid || size" mat-button (click)="onNoClick()">OK</button>
</div>