<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="'side'" opened>
    <!--opened-->
    <div align="center">
      <p></p>
      <img mat-card-avatar [src]="'assets/logo.svg'" alt="image">
      <p></p>
      <div fxLayout="column">
        <a href="#" mat-button routerLink="/dashboard" [style.background-color]="dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>

        <a href="#" mat-button routerLink="/production/jobs" [style.background-color]="jobs">
          <mat-icon>business_center</mat-icon>
          Trabalhos
        </a>

        <a href="#" mat-button routerLink="/production/print" [style.background-color]="print">
          <mat-icon>color_lens</mat-icon>
          Seguencia de impressão
        </a>
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar fxLayoutGap="20px">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p>{{title}}</p>
    </mat-toolbar>
    <div class="contend">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>