<form [formGroup]="cliche">
  <p>Clichê</p>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <mat-form-field *ngIf="tecnologia">
      <mat-select placeholder="Tecnologia" formControlName="tecnologia">
        <mat-option *ngFor="let value of tecnologia" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="variacao">
      <mat-select placeholder="Variação" formControlName="variacao">
        <mat-option *ngFor="let value of variacao" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="material">
      <mat-select placeholder="Material" formControlName="material">
        <mat-option *ngFor="let value of material" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="lineatura">
      <mat-select placeholder="Lineatura" formControlName="lineatura">
        <mat-option *ngFor="let value of lineatura" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="espessura">
      <mat-select placeholder="Espessura" formControlName="espessura">
        <mat-option *ngFor="let value of espessura" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="camada">
      <mat-select placeholder="Camada" formControlName="camada">
        <mat-option *ngFor="let value of camada" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ngIf="local">
      <mat-select placeholder="Local da Gravação" formControlName="local">
        <mat-option *ngFor="let value of local" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Observações" formControlName="observacoes"></textarea>
    </mat-form-field>
  </div>
</form>


<p></p>
<form [formGroup]="cores">
  <p>Cores</p>
  <mat-form-field>
    <input type="text" placeholder="Adicione uma cor" aria-label="Number" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let value of colors" [value]="value.name">
        <div fxLayout="row" align="center center">
          <div>
            <mat-icon [style.color]="value.hexa">fiber_manual_record</mat-icon>
          </div>
          <div>
            {{value.name}}
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>