<h1 mat-dialog-title>Enviar imagem</h1>
<div mat-dialog-content>

  <div style="width: 100%;" align="center">
    <button mat-button class="button_blue">

      <label for="upload">Upload JPG ou PNG</label>

    </button>
  </div>

  <input id="upload" type="file" accept="image/png, image/jpeg" (change)="inputFileChange($event)" style="display:none;" />

  <p></p>
  <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress | async"></mat-progress-bar>
  <p>
    {{percentDone}}
  </p>

  <div *ngIf="invalid">
    Arquivo inválido;
  </div>
</div>
<div mat-dialog-actions align="center">
  <button *ngIf="ok" mat-button (click)="onNoClick()">OK</button>
</div>